Pruebas/WindowsFormsApplication3/Service References/ServiceReferenceTest/sapService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HighChem.SAP.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HighChem.SAP.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ManejoError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Metodo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManejoError" nillable="true" type="tns:ManejoError" />
  <xs:complexType name="ArrayOfDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documento" nillable="true" type="tns:Documento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumento" nillable="true" type="tns:ArrayOfDocumento" />
  <xs:complexType name="Documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CondicionPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FecaDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Folio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdVentdedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImpuestoDLS" type="xs:double" />
      <xs:element minOccurs="0" name="ImpuestoMN" type="xs:double" />
      <xs:element minOccurs="0" name="Mercado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Negocio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTotalDLS" type="xs:double" />
      <xs:element minOccurs="0" name="SubTotalMN" type="xs:double" />
      <xs:element minOccurs="0" name="Sucursal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipodeCambio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalDLS" type="xs:double" />
      <xs:element minOccurs="0" name="TotalMN" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Documento" nillable="true" type="tns:Documento" />
  <xs:complexType name="ArrayOfDocumentoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoDetalle" nillable="true" type="tns:DocumentoDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoDetalle" nillable="true" type="tns:ArrayOfDocumentoDetalle" />
  <xs:complexType name="DocumentoDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="FechaActualizado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Folio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdVentdedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Importe" type="xs:double" />
      <xs:element minOccurs="0" name="ImporteDLS" type="xs:double" />
      <xs:element minOccurs="0" name="ImporteMN" type="xs:double" />
      <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceDLS" type="xs:double" />
      <xs:element minOccurs="0" name="PriceMN" type="xs:double" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Renglon" type="xs:int" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipodeCambio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoDetalle" nillable="true" type="tns:DocumentoDetalle" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdVendedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mercado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucursal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clasificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveSAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Negocio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
</xs:schema>